# Data files



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

viz/
processed/
datasets/
notebooks/EDA/
# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/
